/* VARIABLES */

$white: #fff;
$page-bg: #eeecec;
$header-footer-bg: #93A3B1;
$input-bg: #7C898B;
$submit-bg: #636564;
$crown: #FFC657;
$player-score-text: #636564;

/* ELEMENT STYLES */

body {
  background: $page-bg; 
  font-family: arial;
  text-transform: uppercase;
}

header {
  color: $white;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: $header-footer-bg;
  border-bottom: solid 2px #bfc4c1;
  h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
  }
}

/* FORMS */

form {
  display: flex;
  background-color: $header-footer-bg;
}

input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background: $input-bg;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.795);
  letter-spacing: 2px;
  outline: none;
}

input[type=text]::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.795);
  letter-spacing: 2px;
}

input[type=text]:focus{
  background-color: rgba(0, 0, 0, 0.2);
}

input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0; 
  padding: 10px;
  background-color: $submit-bg;
  border-radius: 5px;
  border: none;
  color: $white;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button, 
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

/* ICONS */

svg {
  width: 28px;
  height: 19px;
  margin-right: 15px;
  fill: #F0F0F0;
}

.is-high-score {
  fill: $crown;
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
}

/* COMPONENT STYLES */

.scoreboard {
  background: $white;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 #636564;
  border-radius: 6px;
  overflow: hidden;
}

.player {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
  &:last-of-type {
    border-bottom-color: #bfc4c1;
  }
  &-name:hover .remove-player {
    visibility: visible;
  }
  &-name,
  .counter-score {
    color: $player-score-text;
  }
  &-name {
    flex-grow: 1;
    line-height: 3.5em;
    padding-left: 10px;
  }
}
 
.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #EF5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

.stats,
.stopwatch {
  width: 170px;
}

.stats {
  font-weight: normal;
  td:first-child {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .7em;
  }
  td:last-child {
    text-align: left;
  }
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: $input-bg;
  &-time {
    display: block;
    font-family: monospace;
    font-size: 2.15em;
  }
  button {
    width: 70px;
    margin: 8px 5px;
    background-color: $submit-bg;
    border-radius: 5px;
    padding: 7px;
    border: none;
    color: $white;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
  }
  button:hover,
  input[type=submit]:hover {
    background: $white;
    color: $submit-bg;
    cursor: pointer;
  }
  h2 {
    font-size: .6em;
    margin: 0;
    font-weight: normal;
    letter-spacing: 2px;
  }
}

.counter {
  display: flex;
  width: 190px;
  &-action {
    border: none;
    font-size: 1.15em;
    font-weight: bold;
    color: #B0AEBA;
    background-color: #DCDCDC;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    outline: none;
  }
  &-action:hover {
    color: $white;
  }
  &-score {
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    line-height: 2em;
  }
}

.increment:hover {
  background: #83D97C;
}

.decrement:hover {
  background: #EF5350;
}

  
